<div id="mainContainer">
<h1>Welcome back, {{firstName}} {{lastName}}
    <div class="petText">Demand that Merkel allows Britney to cover the Reichstag in glitter for an immersive art performance!</div>
    <img src="britney.webp">
    <img src="reichstag.jpg" id="reichstag"><br>
    <form method="POST" class="form">
    <div><input name="first" placeholder="Last name" value="{{firstName}}">
    <input name="last" placeholder="Last name" value="{{lastName}}" required></div>
    <input id="sig" name="sig" type="hidden">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <canvas id="canv" width="400" height="75"></canvas>
    <button id="gimmeglitter">GIMME GLITTER!</button>

</form>

</div>

<!-- {{#each projects}}
<img src={{image}}>
<a href="{{projFold}}" target="_self"><h2>{{name}}</h2></a>
<h5>{{desc}}</h5>

{{/each}} -->
