<div id="mainContainer">
    <h2 style="margin-top: 40px;">Here You Can Find All The {{count}} People Who Have Already Signed!</h2>
    <ul class="list">

        {{#each signers}}
            {{#if url}}

            <li> <a href="http://{{url}}" target="_blank">{{first}} {{last}}</a>,  {{age}},  <a href="/signers/{{city}}">{{city}}</a></li>

            {{else}}

            <li>{{first}} {{last}},  {{age}},  <a href="/signers/{{city}}">{{city}}</a></li>

            {{/if}}

        {{/each}}

    </ul>
    <input type="button" value="Go back" onclick="window.history.go(-1)"></input>

</div>
